/.idea/.name
/.idea/ant.xml
/.idea/compiler.xml
/.idea/copyright/profiles_settings.xml
/.idea/encodings.xml
/.idea/libraries/Maven__commons_io_commons_io_2_4.xml
/.idea/libraries/Maven__junit_junit_3_8_1.xml
/.idea/libraries/lib.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/scopes/scope_settings.xml
/.idea/uiDesigner.xml
/.idea/vcs.xml
/.idea/workspace.xml
